<p id="notice"><%= notice %></p>

<p>
  <strong>Desde:</strong>
  <%= @reportet.desde %>
</p>

<p>
  <strong>Hasta:</strong>
  <%= @reportet.hasta %>
</p>

<%= link_to 'Edit', edit_reportet_path(@reportet) %> |
<%= link_to 'Back', reportets_path %>
