<p id="notice"><%= notice %></p>

<p>
  <strong>Consorcio:</strong>
  <%= @localidadt.consorcio %>
</p>

<p>
  <strong>Sucursal:</strong>
  <%= @localidadt.sucursal %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @localidadt.direccion %>
</p>

<%= link_to 'Edit', edit_localidadt_path(@localidadt) %> |
<%= link_to 'Back', localidadts_path %>
