<%= form_with(model: tipomaquinat, local: true) do |form| %>
  <% if tipomaquinat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipomaquinat.errors.count, "error") %> prohibited this tipomaquinat from being saved:</h2>

      <ul>
      <% tipomaquinat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tipomaquina %>
    <%= form.text_field :tipomaquina, id: :tipomaquinat_tipomaquina %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :tipomaquinat_descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
