<p id="notice"><%= notice %></p>

<p>
  <strong>Tipomaquina:</strong>
  <%= @tipomaquinat.tipomaquina %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipomaquinat.descripcion %>
</p>

<%= link_to 'Edit', edit_tipomaquinat_path(@tipomaquinat) %> |
<%= link_to 'Back', tipomaquinats_path %>
