<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @postransaccionest.cantidad %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @postransaccionest.serial %>
</p>

<%= link_to 'Edit', edit_postransaccionest_path(@postransaccionest) %> |
<%= link_to 'Back', postransaccionests_path %>
