<p id="notice"><%= notice %></p>

<h1>Maquinats</h1>

<table>
  <thead>
    <tr>
      <th>Tipo de maquina</th>
      <th>Descripcion</th>
      <th>Serial</th>
      <th>Activa</th>
      <th>LastSeen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maquinats.each do |maquinat| %>
      <tr>
        <td><%= maquinat.tipomaquinat.tipomaquina %></td>
        <td><%= maquinat.descripcion %></td>
        <td><%= maquinat.serial %></td>
        <td><%= maquinat.activa %></td>
        <td><%= maquinat.lastseen %></td>
        <td><% link_to 'Show', maquinat %></td>
        <td><%= link_to 'Editar', edit_maquinat_path(maquinat) %></td>
        <td><%= link_to 'Desactivar', maquinat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+Agregar Maquina', new_maquinat_path %>
