<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @reportetipoexcell.fecha %>
</p>

<p>
  <strong>In:</strong>
  <%= @reportetipoexcell.in %>
</p>

<p>
  <strong>Out:</strong>
  <%= @reportetipoexcell.out %>
</p>

<p>
  <strong>Net:</strong>
  <%= @reportetipoexcell.net %>
</p>

<%= link_to 'Edit', edit_reportetipoexcell_path(@reportetipoexcell) %> |
<%= link_to 'Back', reportetipoexcells_path %>
