<%= form_with(model: transaccionest, local: true) do |form| %>
  <% if transaccionest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaccionest.errors.count, "error") %> prohibited this transaccionest from being saved:</h2>

      <ul>
      <% transaccionest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% form.label "Maquina:" %>
    <%="Maquina: "%>
    <%= form.select :maquinat_id, Maquinat.order(:descripcion).collect{ |item|  [ " --> " + item.descripcion , item.id ] } %> 
  </div>

  <div class="field">
    <% form.label :tipotransaccion %>
    <%= form.text_field :tipotransaccion, id: :transaccionest_tipotransaccion, :hidden => true %>
  </div>

  <div class="field">
    <% form.label :cantidad %>
    <%="Cantidad: "%>
    <%= form.text_field :cantidad, id: :transaccionest_cantidad, :readonly => true %>
  </div>


  <div class="field">
    <% form.label :comando,:hidden => true %>
    <%= form.text_field :comando, id: :transaccionest_comando, :hidden => true %>
  </div>

  <div class="field">
    <% form.label :status, :hidden => true  %>
    <%= form.text_field :status, id: :transaccionest_status, :hidden => true %>
  </div>


<div class="klk">
   <button class="button" type="button" onclick= cash_modifySend('05')>05</button> 
   <button class="button" type="button" onclick= cash_modifySend(10)>10</button> 
   <button class="button" type="button" onclick= cash_modifySend(25)>25</button> 
   <button class="button" type="button" onclick= cash_modifySend(50)>50</button> 
   <button class="button" type="button" onclick= cash_modifySend(100)>100</button> 
   <button class="button" type="button" onclick= cash_modifySend(200)>200</button> 
   <button class="button" type="button" onclick= cash_modifySend(500)>500</button> 
</div>

</br>

  <div class="actions">
     <button class="button" type="button" onclick= reset_modifySend()>x Reset</button>  
    <%= form.submit "       Enviar ->      " %>
  </div>

<% end %>

