
<% if @mostrar_vista_web_normal != true %>
  

  <p id="notice"><%= notice %></p>

  <h1>Transaccionests</h1>
  <h2>Valor de serial: <%= @param_serial %> </h2>

  <% if @maquina_segun_serial %>
    <h2>Valor de Maquina identificada: <%= @maquina_segun_serial.descripcion %> </h2>
  <% end %>


    <% if @param_serial != nil  &&  @transaccion_actual_objeto_no_existe != true %>

    <h2>Valor del comando acutal: <%= @transaccion_actual_objeto.comando %> </h2> 


    <h2> <% @transaccion_actual_objeto.comando  %> </h2>

    <h3> <%= @transaccion_actual_objeto.created_at  %> - <%= Time.now %> </h3>

    <%end%>

<%end%>


<% if @mostrar_vista_web_normal == true %>
<p style="color: red">X no permitido. Incidente reportado!</p>
<!-- Solo admin ok.
    <table>
      <thead>
        <tr>
          <th>Maquinat</th>
          <th>Tipotransaccion</th>
          <th>Cantidad</th>
          <th>Comando</th>
          <th>Status</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @transaccionests.each do |transaccionest| %>
          <tr>
            <td><%= transaccionest.maquinat.descripcion %></td>
            <td><%= transaccionest.tipotransaccion %></td>
            <td><%= transaccionest.cantidad %></td>
            <td><%= transaccionest.comando %></td>
            <td><%= transaccionest.status %></td>
            <td><%= link_to 'Show', transaccionest %></td>
            <td><%= link_to 'Edit', edit_transaccionest_path(transaccionest) %></td>
            <td><%= link_to 'Destroy', transaccionest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Transaccionest', new_transaccionest_path %>

  -->

<%end%>