<!DOCTYPE html>
<html>

	  <head>
	    <title>Kollector</title>
	    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	    <%= csrf_meta_tags %>

	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	  </head>
<div align="center">
	  <body style="background-color: #FFECAC; ">
	  	
	    <%= yield %>   
	  </body>


	 <h4> <%= link_to 'inicio', root_path %> </h4>

	
</div>
	



</html>
